html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h4 {
  margin: 3px 0 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-width: 450px;
  max-width: 500px;
  margin-top: 5px;
}

.user-profile {
  flex: 0 33.3%;
  margin: 0 0 5px 0;
}

.avatar {
  display: block;
  float: left;
}

.nickname {
  font-size: 1.1em;
  float: left;
  line-height: 32px;
  padding: 0 0 0 5px;
}
